# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
models/*.pkl
models/*.txt
models/*.joblib
!models/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/
